<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\sweet\Downloads\php-8.3.8-nts-Win32-vs16-x64.zip/php-cgi.exe" resourceType="File" requireAccess="Script" />
		</handlers>
	</system.webServer>
</configuration>